<%= c.hidden_field :id %>
<%= c.hidden_field :question_group_id %>
<div class="column-box">

    <%=  c.input :text, as: :string, label: "Column ##{ 1 + c.index } heading", placeholder: "column #{1+c.index}"  %><br/>

    <%=  c.input  :answers_textbox, :as => :text,
                  :wrapper_html => {:class=>'answers_collection'}, :label => "Column ##{ 1 + c.index } heading" %>
</div>

